/*Estilo base para visualizar los div*/
body{
   font-family: : Arial, sans-serif;
   margin: 0;
   padding: 0;
   color: white;
   text-align: center;
}

/*1 Cabecera*/
.cabecera{
background-color: #2c3e50;
padding: 20px;
}

/* 2. Barra de navegacion*/
.nav-bar{
background-color: #34495e;
padding: 10px;
}

.nav-bar a{
color: #ecf0f1;
margin-bottom: 0 15px;
text-decoration: none;
}

/*contenedor flexible para el main y lateral*/
.contenedor-medio{
display: flex;
min-height: 400px;
color: #333;
}


/*contenedor principal*/
.main-content{
background-color: #ecf0f1;
flex: 3;
padding: 20px;
text-align: left;
}

/*4. articulo lateral derecho*/
.lateral-derecha{
background-color: #bdc3c7;
flex: 1;
padding: 20px;
border-left: 2px solid #95a5a6;
}

/* footer*/
.pie-pagina{
background-color:#2d3e50;
padding: 20px;
clear:both; 
}

/*6. div de redes sociales*/
.social-box{
background-color: #3498db;
margin-top: 10px;
padding: 10px;
border-radius: 5px; 
}

.social-box{
color: white;
padding: 0 10px;
}



